<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPLIDAR_Mapping.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPLIDAR_Mapping.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RPLIDAR_Mapping.AppSettings>
            <setting name="WindowWidth" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="WiFiPassword" serializeAs="String">
                <value>nyUu4MgAWhTG</value>
            </setting>
            <setting name="WiFiSSID" serializeAs="String">
                <value>Telia-2G-B9A841</value>
            </setting>
            <setting name="AllowResizing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mqttServer" serializeAs="String">
                <value>192.168.0.44</value>
            </setting>
            <setting name="mqttPort" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="MapScale" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MaxPoints" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MinPointQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainMapNGrids" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GridScaleCMtoPixels" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GridPixels" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DrawGrids" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommunicationProtocol" serializeAs="String">
                <value>serial</value>
            </setting>
            <setting name="LIDARDataBatchSize" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="TileDecayRate" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ICPUpdateRate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MaxHighintensityFactor" serializeAs="String">
                <value>1.5</value>
            </setting>
        </RPLIDAR_Mapping.AppSettings>
    </userSettings>
    <applicationSettings>
        <RPLIDAR_Mapping.AppSettings>
            <setting name="GridTileSizeCM" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GridSizeM" serializeAs="String">
                <value>4</value>
            </setting>
        </RPLIDAR_Mapping.AppSettings>
    </applicationSettings>
</configuration>