<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPLIDAR_Mapping.TileRegulatorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RPLIDAR_Mapping.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPLIDAR_Mapping.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RPLIDAR_Mapping.TileRegulatorSettings>
            <setting name="BaseTileTrustIncrement" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxTileTrustIncrement" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BaseTileTrustDecrement" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxTileTrustDecrement" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BaseTileDecayRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxTileDecayRate" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="BaseTileTrustThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinTileTrustThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxTileTrustThreshold" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RegulatorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </RPLIDAR_Mapping.TileRegulatorSettings>
        <RPLIDAR_Mapping.AppSettings>
            <setting name="WindowWidth" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="WiFiPassword" serializeAs="String">
                <value>nyUu4MgAWhTG</value>
            </setting>
            <setting name="WiFiSSID" serializeAs="String">
                <value>Telia-2G-B9A841</value>
            </setting>
            <setting name="AllowResizing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mqttServer" serializeAs="String">
                <value>192.168.0.147</value>
            </setting>
            <setting name="mqttPort" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="MapZoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxPoints" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MinPointQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainMapNGrids" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GridScaleCMtoPixels" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GridPixels" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DrawGrids" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommunicationProtocol" serializeAs="String">
                <value>wifi</value>
            </setting>
            <setting name="LIDARDataBatchSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TileDecayRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ICPUpdateRate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MaxHighintensityFactor" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="MapUpdateBatchSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TileTrustIncrement" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TileTrustDecrement" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TileTrustThreshold" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MapWindowWidth" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="MapWindowHeight" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="TilemergeThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MergeTilesFrequency" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DrawMergedTiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinMergedTileSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GridScaleFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DrawTileSize" serializeAs="String">
                <value>5</value>
            </setting>
        </RPLIDAR_Mapping.AppSettings>
    </userSettings>
    <applicationSettings>
        <RPLIDAR_Mapping.AppSettings>
            <setting name="GridTileSizeCM" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GridSizeM" serializeAs="String">
                <value>1</value>
            </setting>
        </RPLIDAR_Mapping.AppSettings>
    </applicationSettings>
</configuration>